<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout | KGH-bites</title>
    <link rel="icon" href="{% static 'image/kglogo.jpg' %}">
    <link rel="stylesheet" href="{% static 'checkoutstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<header>
    <div class="img-container">
        <img src="{% static 'image/team-project_image-removebg-preview.png' %}" alt="logo">
    </div>
</header>
<section>
    <div class="container">
        <div class="details">

            <div class="detail-value">
                <span>
                    <p class="serial-no">1.</p>
                    <h1>Dosa</h1>
                </span>
                <h4 class="quantity">
                    1-qty
                </h4>
                <div class="price">Rs.20</div>
            </div>

            <div class="detail-value">
                <span>
                    <p class="serial-no">1.</p>
                    <h1>Dosa</h1>
                </span>
                <h4 class="quantity">
                    1-qty
                </h4>
                <div class="price">Rs.20</div>
            </div>

            <div class="detail-value">
                <span>
                    <p class="serial-no">1.</p>
                    <h1>Dosa</h1>
                </span>
                <h4 class="quantity">
                    1-qty
                </h4>
                <div class="price">Rs.20</div>
            </div>

            <div class="total">
                <div class="total-amt">Rs.00</div>
            </div>
        </div>
        <div class="form">
            <div class="title">
                <h1>Details</h1>
            </div>
            <form class="patient-details" action ="confirmation" method="POST">
                <div class="input-field">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Username">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-phone"></i>
                    <input type="text" placeholder="Phone number">
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-house"></i>
                    <input type="text" placeholder="Patient room number">
                </div>
                <button class="continue" id="rzp-button1">Pay with Razorpay</button>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <script>
                    var options = {
                        "key": "rzp_test_yYvICHDSsLshMz", // Enter the Key ID generated from the Dashboard
                        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "KGH Bytes", //your business name
                        "description": "Test Transaction",
                        "image": "https://example.com/your_logo",
                        "order_id": "order_9A33XWu170gUtm", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
                        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                            "name": "Gaurav Kumar", //your customer's name
                            "email": "gaurav.kumar@example.com",
                            "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
                    };
                    var rzp1 = new Razorpay(options);
                    document.getElementById('rzp-button1').onclick = function (e) {
                        rzp1.open();
                        e.preventDefault();
                    }
                </script>
            </form>
        </div>
    </div>
</section>
<body>

</body>

</html>