<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conformation | KHG-Bites</title>
    <link rel="icon" href="image/kglogo.jpg">
    <link rel="stylesheet" href="conformationstyle.css">
</head>
<body>
    <div class="box">
        <img src="image/verification.jpg" alt="verification">
    </div>
    <div class="content">
        <p>Hey username..!,Your order is placed successfully and delivered to your room within 10 mintues</p>
        
    </div>
</body>
</html>