<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KGH-Bites</title>
    <link rel="icon" href="{% static 'image/kglogo.jpg' %}">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- navigation bar start -->
    <header class="fade-up" id="home">
        <div class="logo-container">
            <img src="{% static 'image/team-project_image-removebg-preview.png' %}" alt="logo">

        </div>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
            <li>
                {% if user.is_authenticated %}
            <!-- Show logout button if user is authenticated -->
            <li>
                <p>Welcome {{ user.username }}</p>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <!-- Show login button if user is not authenticated -->
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
            </li>
        </ul>
    </header>
    <!-- navigation bar end  -->

    <!-- home content pages start -->
    <section>
        <div class="col-1">
            <div class="main-canteen fade-up">
                <div class="shadow-effect">
                    <h1 class="main-canteen-heading">Main canteen</h1>
                    <a href="{% url 'maincanteen' %}">
                        <div class="getin-btn">
                            Order now
                        </div>
                    </a>
                </div>
            </div>

            <div class="misc-canteen fade-up">
                <div class="shadow-effect">
                    <h1 class="misc-canteen-heading">Misc canteen</h1>
                    <a href="{% url 'misccanteen' %}">
                        <div class="getin-btn">
                            Order now
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-1">
            <div class="main-canteen-timing fade-up">
                <h1>
                    Main canteen timings:
                </h1>
                <ul>
                    <li>Monday-Thursday : 8 a.m to 11 p.m</li>
                    <li>Friday&Saturday : 10 a.m to 11 p.m</li>
                    <li>On sunday : 8 a.m to 10 p.m</li>
                </ul>
            </div>
            <div class="misc-canteen-timing fade-up">
                <h1>
                    Misc canteen timings:
                </h1>
                <ul>
                    <li>Monday-Thursday : 8 a.m to 11 p.m</li>
                    <li>Friday&Saturday : 10 a.m to 11 p.m</li>
                    <li>On sunday : 8 a.m to 10 p.m</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- home content page end -->

    <!-- about page content start -->
    <section id="about">
        <div class="about-container">
            <div class="about-img" data-aos="zoom-in-right">
                <img src="{% static 'image/kghospital img.jpg' %}" alt="kg hospital">
            </div>
            <div class="about-content" data-aos="zoom-in-left">
                <p>
                <h1>Welcome to KGH Bytes - Your Ultimate Online Dining and Healthcare Experience</h1>

                At KGH Bytes, we're dedicated to providing you with delicious meals, snacks, and essential
                healthcare items conveniently delivered within the college and hospital campuses. With a focus on
                fueling both your academic pursuits and your well-being, we strive to be your go-to destination for
                culinary excellence and healthcare solutions on campus.

                We prioritize sourcing the freshest ingredients and crafting a diverse menu to suit various dietary
                preferences, including vegetarian and non-vegetarian options, ensuring there's something for
                everyone. Whether you're a busy student at the college or a healthcare professional at the hospital,
                KGH Bytes is here to satisfy your cravings and provide essential items to keep you fueled and
                focused.

                Our online platform also features a comprehensive pharmacy section, offering a wide range of
                healthcare products and medications available for delivery within the college and hospital campuses.
                From over-the-counter remedies to prescription medications, our online pharmacy provides easy access
                to essential healthcare items, all conveniently delivered to your location inside the campus.

                With convenient payment options including cash on delivery and secure online transactions, ordering
                your favorite meals and healthcare products is simple and stress-free. Our commitment is to provide
                students, healthcare professionals, and the community with flavorful meals, essential healthcare
                items, and unparalleled convenience throughout their journey with KGH Bytes. Thank you for choosing
                us as your culinary and healthcare partner on campus and in the hospital!
                </p>
            </div>
        </div>
    </section>
    <!-- about content page end -->

    <!-- contact page start -->
    <section id="contact" data-aos="fade-up" data-aos-duration="1500">
        <h1>Contact us</h1>
        <div class="contact-content">
            <div class="address">
                <h3>
                    Hospital Address:
                </h3><br>
                <p>
                    5, Government Arts College Rd, Opposite Court, Gopalapuram, Coimbatore, Tamil Nadu 641018
                </p><br>
                <p>
                    <span><i class="fa-solid fa-phone"></i> 0422 40 42 121 / 0422-2219191</span>
                </p><br>
                <p>
                    <span><i class="fa-solid fa-envelope"></i>INFO@KGHOSPITAL.COM</span>
                </p>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15666.044155847774!2d76.9715735!3d11.0002319!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba859a5b5400001%3A0x90b60ab4fbdd5cb4!2sKG%20Hospital!5e0!3m2!1sen!2sin!4v1710240422828!5m2!1sen!2sin"
                    width="550" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <!-- contact page end-->
    <a href="{% url 'addmin_login' %}" class="admin-login-btn">
        Admin Login
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
   
    </a>
</body>

</html>