<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
    <title>Log in</title>
    <link rel="icon" href="{% static 'image/kglogo.jpg' %}">
</head>

<body>
    
    <div class="main">
        <header class="fade-up">
            <img src="{% static 'image/project_logo-removebg-preview.png' %}" alt="logo">
            <a href="{% url 'index' %}">
                <div class="go-back-btn">Back</div>
            </a>
        </header>
        <div class="container fade-up">
            <div class="signin-signup">
                <form action="" method="post" class="sign-in-form">
                    {% csrf_token %}
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <input type="submit" value="Login" class="btn">
                    <p class="social-text">Or Sign in with social platform</p>
                    <div class="social-media">
                        <!-- Add your social media links here -->
                    </div>
                    <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
                </form>
                <form action="" method="post" class="sign-up-form">
                    {% csrf_token %}
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="text" placeholder="Email" name="email">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <input type="submit" value="Sign up" class="btn">
                    <p class="social-text">Or Sign in with social platform</p>
                    <div class="social-media">
                        <!-- Add your social media links here -->
                    </div>
                    <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
                </form>
            </div>
            <div class="panels-container">
                <div class="panel left-panel">
                    <div class="content">
                        <h2>If you already have an account</h2>
                        <button class="btn" id="sign-in-btn">Log in</button>
                    </div>

                </div>
                <div class="panel right-panel">
                    <div class="content">

                        <h2>If you don't have an account just sign in</h2>
                        <button class="btn" id="sign-up-btn">Sign up</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>
