<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main canteen</title>
    <link rel="icon" href="{% static 'image/kglogo.jpg' %}">
    <link rel="stylesheet" href="{% static 'main-canteenstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="fade-up">
        <div class="logo">
            <img src="{% static 'image/team-project_image-removebg-preview.png' %}" alt="logo">
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search">
            <div class="search-font"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <div class="btns">
            <div class="cart">Cart
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <a href="{% url 'index' %}">
                <div class="back">Back</div>
            </a>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="content">
                <div class="shadow">
                    <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                    <div class="text">
                        <span>
                            <h1>Dosa</h1>
                            <p>Rs.20 per 1 piece</p>
                        </span>
                        <div class="btn">Add to cart</div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="shadow">
                    <img src="{% static 'image/idlie.jpg' %}" alt="dosa">
                    <div class="text">
                        <span>
                            <h1>Idle</h1>
                            <p>Rs.10 per 2 piece</p>
                        </span>
                        <div class="btn">Add to cart</div>
                    </div>
                </div>

            </div>
            <div class="content">
                <img src="{% static 'image/OnionUttapam.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Onion Uttappam</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/pongal.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Pongal</h1>
                        <p>Rs.15 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/veg bri.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Veg Biriyani</h1>
                        <p>Rs.50 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>
            <div class="content">
                <img src="{% static 'image/dosa.jpg' %}" alt="dosa">
                <div class="text">
                    <span>
                        <h1>Dosa</h1>
                        <p>Rs.20 per 1 piece</p>
                    </span>
                    <div class="btn">Add to cart</div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>