@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}
body{
    overflow-x:hidden;
}
header{
    width:100vw;
    display:flex;
    justify-content:space-around;
}
.back{
    margin-top:50px;
}
.back a{
    background-color:#3633AD;
    border-radius:10px;
    color:white;
    text-decoration: none;
    padding:5px 10px;
}
.logo img{
    width: 400px;
    height: 115px;
    object-fit: cover;
}
section{
    width:100vw;
    height:83vh;
    position:relative;
}
.container{
    width:80%;   
    margin:0 auto;
    padding-left:50px;
    padding-top:50px;
    display:grid;
    grid-template-columns: 32% 32% 32%;
    gap:20px;
}
.item-box{
    height:200px;
    border-radius:20px;
    background-color:#3633AD;
    color:white;
    display:flex;
    padding:10px;
    align-items:center;
    justify-content: space-between;
}
.title{
    font-size:2em;
    font-weight:400;
}
.final-btn{
    margin-top:20px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.final-btn a{
    text-decoration:none;
    color:white;
    background-color: #D7402C;
    border-radius:20px;
    padding:5px 10px;
}
#input-num{
    width:45px;
}