@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header{
    display:flex;
    justify-content: space-evenly;
    margin-top: 25px;
    position:sticky;
    top:5px;
    background-color: white; 
    z-index: 100;
}
.logo img{
    width:400px;
    height:115px;
    object-fit: cover;
}
.back{
    margin-top:30px;
    height:40px;
    padding:5px 20px;
    background-color: #3633AD;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
}
header a{
    text-decoration:none;
    color:white;
    font-weight:400;
}
.fade-up{
    opacity: 0;
    transform:translateY(30px);
    animation:fade-up 0.3s linear forwards;
}
@keyframes fade-up{
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
.search-box{
    margin-top:25px;
    width: 280px;
    height:45px;
    border-radius:20px;
    overflow:hidden;
    box-shadow: 2px 2px 3px rgba(105,105,105,0.5),
                -2px -2px 3px rgba(105,105,105,0.5);
    display:flex;
}
.search-box input{
    width: 80%;
    height:100%;
    border:none;
    outline:none;
    padding:15px;
    font-size:1.1em;
}
.search-font{
    width:50px;
    height:50px;
    border-radius:0 20px 20px 0;
    background-color: #3633AD;
    margin-left:38px;
    margin-top:-1px;    
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
}
.cart{
    color:black;
    height:40px;
    margin-top:40px;
    
}
.btns{
    display:flex;
    width:20%; 
    justify-content:space-around;
    cursor:pointer;
}
.back:hover, .search-font:hover{
    background-color: #2e2c94;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color:#3633AD;
    border-radius:10px;
}
section{
    width:100%;
    display:flex;
    justify-content: center;
}
.container{
    width:80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: auto;
    gap:15px;
}
.content{
    width:300px;
    height:150px;
    padding:100px 190px;
    margin-top:20px;   
    border:1px solid blue;
    border-radius:25px;
    position:relative;
    z-index: 10;
    overflow:hidden;
}
.content img{
    width:100%;
    position:absolute;
    top:0;  
    right:0;
    z-index:8;
} 
.content .text{
    z-index: 20;
    color:white;
    position:absolute;
    bottom:10px;
    left:15px;
    width:90%;
    display:flex;
    justify-content: space-between;
}
.content .text .btn{
    color:#2e2c94;
    background-color: #3633AD;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    padding:8px;
    font-size:15px;
    cursor:pointer;
    color:white;
}
.content:hover{
    transform:scale(1.08);
}
.content .btn:hover{
    background-color:#ffffff;
    color:#3633AD;
} 
.cart-box{
    position:fixed;
    top:0;
    right:-100%;
    height:100vh;
    width:50vh;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
.cart-active{
    right:0;
    transition: ease-in-out 0.5s;
}
.cart-title{
    text-align:center;
    font-size:2em;
    font-weight: 600;
    letter-spacing: 1px;
}
.cart-card{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:1em;    
    margin-top:1rem;
    border-bottom:1px solid rgba(0,0,0,0.5);
    padding-bottom:10px;
}
.cross{
    position:absolute;
    top:0px;
    right:10px;
    font-size:1.2em;
}
.cart-details{
    display:flex;
    justify-content: space-between;
    padding-left:20px;
    width:300px;
}
.price-box{
    display:flex;
    justify-content:space-between;
}
.cart-food-title{
    font-size:1rem;
    text-transform:uppercase;
    font-weight:600;
    color:#3633AD;
}
#cart-quantity{
    width:30px;
    align-items: center ;
}
.item-remove{
    width:50px;
    cursor:pointer;
    color:red;
}
.total{
    display:flex;
    justify-content:end;
    margin-top:20px;
}
.total-title{
    padding-right:5px;
    font-weight:600;
}
.total-price{
   margin-right:20px; 
}
.buy-btn{
    position:absolute;
    bottom:5px;
    right:0;
    width:200px;
    margin-right:60px;
    align-items: center;
    padding:12px 2px;
    border:none;
    background-color: #3633AD;
    color:white;
    border-radius:5px;
}
.cart-value{
    position:relative;
    bottom:40px;
    left:60px;
    display:none;
}