@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "montserrat",sans-serif;
    scroll-behavior:smooth;
}
.logo-container img{
    width:400px;
    height: 115px;
    object-fit: cover;
}
header{
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items: center;
    z-index:99;
    background-color: white;
    position:sticky;
    top:1px;
    left:1px;
}
header ul li{
    display:inline-block;
    margin-right:80px;
}
header ul li a{
    text-decoration: none;
    color:black;
    font-weight:bold;
    transition:0.4s;
}
header ul li a:hover{
    color:#D7402C;
    border-bottom:2px solid #D7402C;
}
.main-canteen, .misc-canteen{
    height:250px;
    width:80%;
    overflow: hidden;
    background-image:url(image/canteen1.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    border-radius:30px;
    margin:30px 80px;
    transition:.2s;

}
.shadow-effect{
    width:100%;
    height:100%;
    background: linear-gradient(to bottom,#696969,transparent);
    z-index:0;
    display:flex;
    justify-content:center;
    align-items:center; 
    flex-direction:column;
    justify-content: space-around;
}
.col-1{
    width:48%;
    height:60%;
    margin-left:20px; 
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;  
}
section{
    display: flex;
    flex-direction: row;
}
.main-canteen-timing , .misc-canteen-timing{
    margin:70px auto;
}
.main-canteen-timing h1, .misc-canteen-timing h1{
    font-size:2em;
    margin-right:100px;
}
.main-canteen-timing ul li, .misc-canteen-timing ul li{
    list-style: none;
    margin-left:60px;
    margin-top:15px;
    font-weight:600;
}
.getin-btn{
    background-color:#e85441;
    box-shadow: 8px 8px 12px #696969;
    padding:15px 10px;
    border-radius:15px;
}
a{
    color:black;
    text-decoration:none;
}
.getin-btn:hover{
    background-color:#c3200a;
    color:goldenrod;
    text-shadow: 3px 3px 5px,
                -3px -3px 5px;
    transition : 0.2;
    cursor: pointer;
}
.main-canteen-timing{
    position:relative;
    bottom:40px;
}
.fade-up{
    opacity: 0;
    transform: translateY(30px);
    animation: fade-up 0.3s linear forwards;
}
@keyframes fade-up{
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}
.main-canteen{
    animation-delay:0.5s;
}
.main-canteen-timing{
    animation-delay:0.8s;
}
.misc-canteen{
    animation-delay:1s;
}
.misc-canteen-timing{
    animation-delay:1.3s;
}
#about{
    max-width:100vw;
    height:100vh;
    border:1px solid #3633AD;
    background-color:#3633AD;
    display:flex;
    justify-content:center;
    align-items:center;
}
.about-container{
    margin-top:120px;
    width:90%;
    height:70%;
    padding:20px;
    display:flex;   
    flex-direction:row;
}
.about-img img{
    width:600px;
    height:100%;
}
.about-content{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    flex-direction: column;
    color:white;
}
#contact{
    width:100%;
    height:400px;
    display:flex;
    justify-content: center;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color:#3633AD;
    border-radius:10px;
}
#contact h1{
    font-size:3em;
    margin-top:30px;
}